pdb-data/
cache/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Editable/install artifacts
*.egg-info/
*.egg
build/
dist/

# Virtual environments
.env/
.venv/
*.conda/
*.mamba/
uv.lock

# Jupyter
.ipynb_checkpoints/
dev-notebooks/

# Other system files
.DS_Store

# Git worktrees
.worktrees/
